@charset "utf-8";
/* maincolor: #ff5050 
subcolor: #ffc000 #5b9bd5 */
#wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
}

.logo{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{}
.main{
    height: 100px;
    display: flex;
    margin-right: 10px;
    margin-top: 50px;
}

.main > li{
    position: relative;
}

.main > li > a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #ff5050;
    border-bottom: 5px solid #5b9bd5;
    border-radius: 0px 30px 0 0;
}

.main > li:hover > a{
    border-bottom: 5px solid #ffc000;
    text-shadow: 1px 1px 2px gray;
}

.sub{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 10;
    display: none;
}

.sub li{}

.sub li a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    /* background-color: #ff5050; */
    font-weight: bold;
}

.sub li a:hover{
    color: white;
    border-bottom: 2px solid #5b9bd5;
}

.sub_bg{
    width: 1200px;
    height: 125px;
    background-color: #ff5050;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 5;
    display: none;
}







#section{
    width: 100%;
    height: 500px;
}

.slide_img{
    height: 300px;
    width: 100%;
}

.move{
    position: relative;
}

.move li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
}



.contents{
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.contents > div{
    width: 390px;
    height: 200px;
    /* border: 1px solid black; */
}

.title{
    font-size: 16px;
    font-weight: bold;
    background-color: #5b9bd5;
    height: 35px;
    line-height: 35px;
    width: 100px;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.notice .noti_table{
    width: 100%;
    height: 165px;
    border: 1px solid #5b9bd5;
    table-layout: fixed;
    /* 이 명령어가 들어가야 넘치는 글이 ...으로 변경된다
    이 명령어가 들어가지 않으면 아래에 3가지 명령어를 넣어도
    너비만 늘어나게 됨 */
    cursor: pointer;
}

.notice .noti_table tr{}
.notice .noti_table tr td{
    padding: 0 15px;
}


.notice .noti_table td.col1{
    width: 70%;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notice .noti_table td.col2{
    width: 30%;
    text-align: right;
    font-size: 13px;
}

.notice .noti_table tr:hover{
    background-color: #ff5050;
    color: white;
}

.gallery ul{
    width: 100%;
    height: 165px;
    border: 1px solid #5b9bd5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery ul li img{
    opacity: 0.5;
    transition: all 0.5s;
}

.gallery ul li:hover img{
    opacity: 1;
}

.baro{}

.baro p{
    width: 100%;
    height: 165px;
    border: 1px solid #5b9bd5;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.baro p a img{
    width: 90%;
}







#footer{
    width: 100%;
    height: 100px;
    display: flex;
}

.f_left{
    width: 1000px;
    height: 100px;
}

.f_menu{
    height: 50px;
}

.f_menu ul{
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.f_menu ul li{}

.f_menu ul li a{
    display: block;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 400;
}

.f_menu ul li a::after{
    content: "";
    border-right: 1px solid #ffc000;
    padding-left: 10px;
}

.f_menu ul li:last-child a::after{
    border: none;
}

.f_menu ul li:first-child a{
    padding-left: 10px;
}

.f_menu ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.copy{
    width: 1000px;
    height: 50px;
    line-height: 50px;
    /* text-align: center; */
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px;
    border-right: 3px solid #ffc000;
    border-bottom: 3px solid #ffc000;
    border-left: 3px solid #ffc000;
}

.site{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #ffc000;
}

.site select{   
    width: 150px;
    height: 30px;
}





.popup{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border: 10px solid #ff5050;
    padding: 50px;
    z-index: 20;
    display: none;
}

.popup h3{
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    border: 2px soild #5b9bd5;
}

.popup ol{
    margin-top: 20px;
    padding-left: 30px;
}

.popup ol li{
    list-style: decimal;
    padding: 5px;
}

.close{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    cursor: pointer;
}